@font-face {
  font-family: "Norse-Bold";
  src: url("/fonts/Norse-Bold.otf") format("opentype")
}

/* For testing purposes */
* {
  /* border: 1px solid orange; */
  /* background-color: blue; */
}


body {
  margin: 0;
  font-family: Arial;
}

/* Mobile Styling */
.flex-container {
  display         : flex;
  flex-direction  : column;
}

#header {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  width           : 100vw;
  height          : 200px;

  background-image    : url(/images/space-header-image.jpg);
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 100%;
}

#header-logo-and-text {
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : 100%;
  height: 20%;

  background-color: rgba(0, 0, 0, 0.4);
}

#header-logo {
  height  : 100%;
}

#header-text {
  font-family: "Norse-Bold";
  font-size : 250%;
  color     : rgb(182, 182, 182);
}

#image-credits {
  font-size       : 2vw;
  color           : white;
  text-decoration : none;

  position  : relative;
  bottom       : -65px;
  /* left      : 16px; */
}

#form-layout {
  display: flex;
  flex-direction: column;
  height            : 100vh;
}

#form-header {
  display         : flex;
  flex-direction  : column;
  justify-content : flex-end;

  background-color: rgb(250, 250, 250);

  /* padding : 0px 50px 5px 20px; /* Top left/right bottom */
  /* padding-top: 0px; */
  padding-right: 50px;
  /* padding-bottom: 5px; */
  padding-left: 20px;
  /* padding-top: 50px; */
  /* bottom: 10px; */
  /* background-color: blue; */
}

#form-header-text-container p {
  font-size   : 3vw;
  font-weight : bold;
}

#form-container {
  height: 200px;
  box-shadow: 1px 1px 2px rgba(102, 102, 102, 0.459);
}

#form-footer {
  height: 200px;
}


/* Desktop Styling */
@media only screen and (min-width: 700px) {
  .flex-container {
    flex-direction: row;
  }

  #header {
    width   : 60%;
    height  : 100vh;

    background-size     : 100vh;
  }

  #header-logo {
    height  : 50%;
  }

  #image-credits {
    font-size    : 2vh;
  
    position     : absolute;
    bottom       : 5px;
  }

  #form-layout {
    width   : 100vw;
    display: flex;
    flex-direction: column;
  }

  #form-header {
    height: calc(100vh / 3);
    background-color: rgb(250, 250, 250);
    padding-right: max(100px, 10vw);
    margin-bottom: 10px;
  }

  #form-header-text-container p{
    font-size: 12pt;
  }
  
  #form-container {
    height: 200px;
  }
  
  #form-footer {
    height: calc(100vh / 3);
  }
}
